.header {
  padding: 24px 120px;

  display: flex;
  flex-direction: row;

  text-decoration: none;

  border-bottom: 1px solid var(--badges);
  background: var(--badges);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
@media (max-width: 1024px) {
  .header {
    padding: 20px 60px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 16px 24px;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 12px 16px;
  }
}

.header.homeHeader {
  border-bottom: 4px solid var(--white);
}

.link {
  margin-right: auto;
  width: 104px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  width: 100%;
  height: 100%;
}

.navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.navigationItem {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
}

.navigationLink {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigationLink:hover,
.navigationLink:focus {
  color: var(--button-hover);
}

.active {
  color: var(--button-hover);
}
