.carItem {
  display: flex;
  flex-direction: column;
  width: 276px;
  height: 424px;
}

.imageWrapper {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  width: 276px;
  height: 268px;
  margin-bottom: 16px;
}

.icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.heart {
  width: 100%;
  height: 100%;
}

.carImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carImageWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 0%,
    rgba(18, 20, 23, 0.5) 100%
  );
}

.carInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 8px;
}

.carInfo p {
  margin-left: 8px;
}

.carTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
}

.accent {
  color: var(--button);
}

.infoWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 4px;
}

.info {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
  display: flex;
  align-items: center;
}

.infoWrapper .info:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: var(--gray-light);
}

.readMore {
  margin-top: auto;
  border-radius: 12px;
  padding: 12px 12px;
  width: 100%;
  height: 44px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  outline: none;

  background: var(--button);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.readMore:hover,
.readMore:focus {
  background: var(--button-hover);
}
