.bookingForm {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  background: var(--white);
}

@media (max-width: 679px) {
  .bookingForm {
    max-width: 640px;
  }
}

@media (min-width: 680px) {
  .bookingForm {
    width: 640px;
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;
}

.formGroup {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  width: 100%;
}

.formGroup:last-of-type {
  margin-bottom: 20px;
  height: 88px;
}

.input {
  border-radius: 12px;
  padding: 12px 20px;
  width: 100%;
  height: 48px;
  background: var(--inputs);
  border: none;
  outline: none;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
}

/* ^ DATE PICKER ^ */
.wrapper {
  width: 100%;
}

.datePickerCalendar {
  width: 276px;
  background-color: var(--white);
  border-radius: 12px !important;
  border: 1px solid var(--button) !important;
  padding: 12px;

  font-family: var(--second-family) !important;
}

.customHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  margin-bottom: 12px;

  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--main);
}

.currentMonth {
  display: flex;
  align-items: center;
}

.monthBtn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--button);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .monthBtn:hover {
  color: var(--button-hover);
  color: red;
}

.monthBtn:focus {
  color: var(--button);
} */

.monthBtnDisabled {
  cursor: auto;
  color: var(--button);
}

/* .monthBtnDisabled:hover,
.monthBtnDisabled:focus {
  color: var(--button);
} */

.monthIcon {
  width: 100%;
  height: 100%;
}
/* ^ DATE PICKER END ^ */

.textarea {
  border-radius: 12px;
  padding: 12px 20px;
  width: 100%;
  height: 88px;
  background: var(--inputs);
  resize: none;
  border: none;
  outline: none;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
}

.errorPlaceholder {
  height: 12px;
  display: flex;
  align-items: center;
}

.error {
  font-family: var(--font-family);
  font-size: 10px;
  color: rgb(235, 56, 56);
}

.submitButton {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background: var(--button);
  cursor: pointer;
  border: none;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submitButton:hover,
.submitButton:focus {
  background: var(--button-hover);
}
