.bookingForm {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  /* height: 488px; */
  background: var(--white);
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;
}

.formGroup {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.formGroup:last-of-type {
  margin-bottom: 20px;
  height: 88px;
}

.input {
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background: var(--inputs);
  border: none;
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
}

.textarea {
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 88px;
  background: var(--inputs);
  resize: none;
  border: none;
}

.textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
}

.errorPlaceholder {
  height: 12px;
  display: flex;
  align-items: center;
}

.error {
  font-family: var(--font-family);
  font-size: 10px;
  color: rgb(235, 56, 56);
}

.submitButton {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background: var(--button);
  cursor: pointer;
  border: none;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submitButton:hover,
.submitButton:focus {
  background: var(--button-hover);
}
