:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;

  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--main);
  background: var(--white);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.custom__menu-list::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.custom__menu-list::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 12px;
  margin-bottom: 12px;
}

.custom__menu-list::-webkit-scrollbar-thumb {
  background: var(--gray-light);
  border-radius: 10px;
  min-height: 128px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ^ DATE PICKER ^ */
.react-datepicker__header.react-datepicker__header--custom {
  height: auto !important;
  padding: 0 !important;
  background-color: transparent !important;
  border-bottom: none !important;
}

.react-datepicker__day-name {
  font-family: var(--second-family) !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 120% !important;
  text-align: center !important;
  color: var(--gray) !important;

  flex: 1 !important;
  margin: 0 !important;
}

.react-datepicker__day-names {
  position: relative;
  margin-bottom: 24px !important;
  width: 100%;
  height: 14px;
  display: flex;
  flex-direction: row;
}

.react-datepicker__day-names::after {
  content: "";
  position: absolute;
  top: 26px;
  width: 275px;
  left: -12px;
  right: 0;
  height: 1px;
  background-color: var(--button);
}

.react-datepicker__day {
  width: 36px !important;
  height: 32px !important;
  line-height: 32px !important;
  border-radius: 32px !important;
  margin: 0 !important;

  font-family: var(--second-family) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  text-align: center !important;
  color: var(--main) !important;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.react-datepicker__day:hover {
  background-color: rgb(201, 200, 200) !important;
  color: var(--main) !important;
}

.react-datepicker__day--outside-month {
  color: var(--gray) !important;
}

.react-datepicker__day--today {
  background-color: var(--inputs) !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--inputs) !important;
}

.react-datepicker__day--disabled:hover {
  background-color: rgb(243, 198, 198) !important;
}

.react-datepicker__day--selected {
  background-color: var(--button) !important;
  color: var(--inputs) !important;
}

.react-datepicker__month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 4px;
  margin: 0 !important;
}

.react-datepicker__week {
  display: contents !important;
}

.react-datepicker-popper[data-popper-placement^="bottom"] {
  top: 58px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.react-datepicker__triangle svg {
  width: 13px !important;
  height: 10px !important;
  overflow: hidden !important;
  position: absolute !important;
  left: 129px !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  width: 22px !important;
  height: 17px !important;
  fill: var(--white) !important;
  stroke: var(--button) !important;
  color: var(--white) !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  left: 138px !important;
  transform: translateX(-50%) rotate(180deg) translateY(-1px) !important;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
  width: 22px !important;
  height: 17px !important;
  fill: white !important;
  stroke: var(--button) !important;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
  left: 138px !important;
  transform: translateX(-50%) rotate(0) translateY(-1px) !important;
}
/* ^ DATE PICKER END ^ */

/* ^ 404 PAGE ^ */
.notFound {
  padding-top: 152px;
}

.notFoundBox {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.notFoundHeading {
  margin-bottom: 12px;
}

.notFoundDescription {
  line-height: 25px;
}
/* ^ 404 PAGE END ^ */

.errorButton {
  border-radius: 12px;
  padding: 12px 12px;
  background: var(--button);
  width: 125px;
  margin-top: 15px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  outline: none;
  cursor: pointer;
  border: none;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.errorButton:hover,
.errorButton:focus {
  background: var(--button-hover);
}

/* ^ LOADER ^ */
.loader {
  width: 15px;
  aspect-ratio: 1;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--button);
}
.loader::before {
  box-shadow: -25px 0 var(--button);
  animation: l8-1 1s infinite linear;
}
.loader::after {
  transform: rotate(0deg) translateX(25px);
  animation: l8-2 1s infinite linear;
  background: black;
}

@keyframes l8-1 {
  100% {
    transform: translateX(25px);
  }
}
@keyframes l8-2 {
  100% {
    transform: rotate(-180deg) translateX(25px);
  }
}

.customLoaderWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100000000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.062);
}

.customLoader {
  width: 15px;
  aspect-ratio: 1;
  position: relative;
}
.customLoader::before,
.customLoader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--button);
}
.customLoader::before {
  box-shadow: -25px 0 var(--button);
  animation: l8-1 1s infinite linear;
}
.customLoader::after {
  transform: rotate(0deg) translateX(25px);
  animation: l8-2 1s infinite linear;
  background: black;
}

@keyframes l8-1 {
  100% {
    transform: translateX(25px);
  }
}
@keyframes l8-2 {
  100% {
    transform: rotate(-180deg) translateX(25px);
  }
}

/* ^ TOASTER ^ */
.Toastify__toast {
  border-radius: 12px;
  font-family: var(--font-family);
}

.Toastify__toast--success {
  background: var(--button) !important;
}
