.page {
  min-height: 100vh;
  background-image: url("/img/—Åar.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 508px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
}

.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
}

.link {
  border-radius: 12px;
  padding: 12px 88px;
  background: var(--button);
  width: 276px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  outline: none;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  background: var(--button-hover);
}
